.lista-suspensa label{
    display: block;
    margin-bottom: 8px;
    font-size: 1.5em;
}

.lista-suspensa select {
    background-color: #FFF;
    box-shadow: 10px 10px 30px #0000000f;
    width: 100%;
    border: none;
    font-size: 24px;
    padding: 24px;
    box-sizing: border-box; /*informa que 100% da tela com o padding incluido*/
}